<% provide :title, "ログイン" %>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class="col-md-6 col-sm-12 white-box">
        <h2 class="login-title text-center">ログインページ</h2>
        <%= render 'shared/flash' %>
        <div class="form login-form insert-gray-line">
          <%= form_with url: login_path, scope: :session, local: true do |f| %>
            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
            <%= f.password_field :password, placeholder: "パスワード", class: 'form-control' %>
            <%= f.submit 'ログイン', class: "btn btn-primary wide-btn" %>
          <% end %>
        </div>
        <div class="text-center login-forget"><%= link_to "パスワードを忘れた場合", new_password_reset_path %></div>
        <div class="text-center">アカウントをお持ちでないですか？<%= link_to "登録する", new_user_path %></div>
        <div class="or">
          <p class="text-center">または</p>
        </div>
        <div class="text-center test-user">
          <%= link_to 'テストユーザーでログイン', login_path(params: { session: { email: "example@test.com", password: "foobar" } }),
                      method: :post, class: "btn btn-primary" %>
        </div>
        <div class="text-center test-user">
          <%= link_to 'テストビルダーでログイン', login_path(params: { session: { email: "example@builder.com", password: "foobar" } }),
                      method: :post, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</main>
