<% provide(:title,"パスワードをリセット") %>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class = "col-md-6　ol-sm-12 white-box">
        <h2 class="text-center">パスワードをリセットする</h2>
        <%= render 'shared/flash' %>
        <p class="p-password-change">ログインリンクを送信するため、メールアドレスを入力してください。</p>
        <div class = "form">
          <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>
            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
            <%= f.submit "ログインリンクを送信",class: "btn btn-primary wide-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>