<% provide(:title, "#{@suggest.title}を編集する") %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 white-box">
        <h2 class="gray-bottom-line"><%= @suggest.project.name %>に対する提案を編集します。</h2>
        <%= render 'shared/flash' %>
        <%= render 'shared/error_messages', object: @suggest %>
        <div>
          <%= form_with(model: [@suggest.project, @suggest], local: true) do |f| %>
            <div class="preview-field flex">
              <% if @suggest.photos.first.image.present? %>
                <% @suggest.photos.each_with_index do |photo, index| %>
                  <div class="preview-box" id="preview-box_<%= index %>">
                    <div class="upper-box">
                      <%= image_tag photo.image.url, alt: "preview" %>
                    </div>
                    <div class="lower-box">
                      <label class="update-box" id="edit_btn_<%= index %>">
                        <span>編集</span>
                      </label>
                      <div class="delete-box" id="delete_btn_<%= index %>">
                        <span>削除</span>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div id="label-field">
                <%= f.label :"photos_attributes_#{@suggest.photos.size}_image", class: "photo-label", id: "photo-label-0" do %>
                  <p>クリックして画像をアップロード(最大5枚)</p>
                <% end %>
              </div>
              <div class="input-space">
                <%= f.fields_for :photos do |photo| %>
                  <%= photo.file_field :image, class: "hidden-field" %>
                  <%= photo.check_box :_destroy, class: "hidden-field", checked: "#{'checked' if photo.object.image.blank?}" %>
                <% end %>
                <% @suggest.photos.size.upto(4).each do |i| %>
                  <input name="suggest[photos_attributes][<%= i %>][image]" id="suggest_photos_attributes_<%= i %>_image" class="hidden-field" type="file">
                <% end %>
              </div>
            </div>
            <%= f.label :estimated_amount, class: "suggest-info" %>
            <%= f.text_field :estimated_amount, placefolder: @suggest.estimated_amount, class: "form-control" %>
            <%= f.label :content, class: "suggest-info" %>
            <%= f.text_area :content, placefolder: @suggest.content, class: "form-control" %>
            <div class="flex justify-content-center">
              <%= f.submit "提案を編集する", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
