<% provide :title, "#{@project.name}へ提案する" %>
<main>
  <div class="container">
    <div class = "row">
      <div class = "col-sm-12">
        <%= link_to "プロジェクトに戻る", project_path(@project), class: "back-link" %>
        <div class="white-box">
          <h2 class="gray-bottom-line">これは<%= @project.name %>に対する提案です。</h2>
          <%= render 'shared/flash' %>
          <%= render 'shared/error_messages', object: @suggest %>
          <div>
            <%= form_with(model: [@project, @suggest], local: true) do |f| %>
              <div class="preview-field flex">
                <div id="label-field">
                  <%= f.label :"photos_attributes_0_image", class: "photo-label", id: "photo-label-0" do %>
                    <p>クリックして画像をアップロード(最大5枚)</p>
                  <% end %>
                </div>
              </div>
              <%= f.fields_for :photos do |photo| %>
                <%= render 'shared/photo_upload', { model_name: "suggest", photo: photo } %>
              <% end %>
              <%= f.hidden_field :project_id, value: @project.id %>
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control" %>
              <%= f.label :estimated_amount %>
              <%= f.text_field :estimated_amount, class: "form-control", data: { autonumeric: { mDec: 0 } } %>
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control" %>
              <%= f.submit "提案する", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>