<% provide :title, "#{@project.name}への提案" %>
<main>
  <div class="container">
    <%= link_to "プロジェクトに戻る", project_path(@project), class: "back-link" %>
    <div class = "row white-box">
      <div class = "col-sm-12">
        <h2 class="gray-bottom-line"><%= @suggest.title %></h2>
        <% if @suggest.photos.present? %>
          <ul class="show-photo-field">
            <% @suggest.photos.each do |photo| %>
              <li class="show-photo-box"><%= image_tag photo.image.url %></li>
            <% end %>
          </ul>
        <% end %>
        <ul>
          <li class="suggest-info"><span class="font-weight-bold">提案者：</span><%= link_to @suggest.user.name, user_path(@suggest.user) %></li>
          <% if current_user.favorite_suggest?(@suggest) %>
            <li class="suggest-info"><span class="font-weight-bold">提案者連絡先：</span><%= @suggest.user.email %></li>
          <% end %>
          <li class="suggest-info"><span class="font-weight-bold">お見積もり金額(概算)：</span><%= "#{@suggest.estimated_amount.to_s(:delimited)}円" %></li>
          <li class="suggest-info">
            <span class="font-weight-bold">提案内容</span><br>
            <%= safe_join(@suggest.content.split("\n"),tag(:br)) %>
          </li>
        </ul>
        <div class="flex suggest-btn-box">
          <% if current_user?(@suggest.user) %>
            <%= link_to "提案を取り下げる", project_suggest_path(@project, @suggest), method: :delete,
                                                  data: { confirm: "本当に提案を取り下げてもよろしいですか？" },
                                                  class: "btn btn-danger suggest-deletebtn" %>
            <%= link_to "提案を編集する", edit_project_suggest_path(@project, @suggest), class: "btn btn-warning" %>
          <% elsif current_user?(@customer) && !@customer.favorite_suggest?(@suggest) %>
            <%= form_with(model: current_user.accept_suggests.build, local: true) do |f| %>
              <%= hidden_field_tag :suggest_id, @suggest.id %>
              <%= f.submit "提案を受け入れる", class: "btn btn-primary" %>
            <% end %>
          <% elsif current_user?(@customer) && @customer.favorite_suggest?(@suggest) && !@customer.already_review?(@suggest) %>
            <%= link_to "このビルダーを評価する", new_review_path(params: { review: { suggest_id: @suggest.id } }), class: "btn btn-warning" %>
          <% elsif @customer.already_review?(@suggest) %>
            <%= link_to "この提案へのレビューを確認する", review_path(@suggest), class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class = "row white-box">
      <div class = "col-sm-12">
        <h3 class="gray-bottom-line"><%= @comments.size %>件のコメント</h3>
        <%= render 'shared/flash' %>
        <% if @comments.any? %>
          <%= render 'comments/comments', comments: @comments %>
        <% else %>
          <p>まだコメントはありません。</p>
        <% end %>
        <div class="comment-form-box">
          <%= form_with(model: @comment, local: true) do |f| %>
            <%= f.hidden_field :suggest_id, value: @suggest.id %>
            <%= f.text_area :content, class: "form-control" %>
            <%= f.submit "コメントを投稿する", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
