<h1><%= @user.name%>さん、HomeSketchへようこそ</h1>

<p>
  Home-Sketchのアカウントを作っていただき、ありがとうございます。
</p>
<p>
  メールアドレスの確認完了後にアカウントをご利用いただけます。
</p>
<p>
  下記のリンクよりアカウントの有効化を行ってください。
</p>
<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token, email: @user.email) %>