<%= @user.name %>さん、HomeSketchへようこそ

Home-Sketchのアカウントを作っていただき、ありがとうございます。
メールアドレスの確認完了後にアカウントをご利用いただけます。
下記のリンクよりアカウントの有効化を行ってください。

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>