<h1>パスワードリセットのお知らせ</h1>

<p>
  HomeSketchのパスワードリセットを受け付けました。
</p>
<%= link_to "パスワードリセットはこちら", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>
  もしパスワードリセットを行わなかった場合、パスワードは変更されません。もし、このメールに見に覚えがない場合は無視していただいてかまいません。
</p>
