<h1>パスワード変更メール</h1>

<p>
  HomeSketchのパスワード変更を受け付けました。
</p>
<%= link_to "パスワード変更はこちら", edit_password_change_url(@user.change_token, email: @user.email) %>
<p>
  もしパスワード変更を行わなかった場合、パスワードは変更されません。もし、このメールに見に覚えがない場合は無視していただいてかまいません。
</p>
