<%= will_paginate comments, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<% comments.includes(:user).each do |comment| %>
  <div class = "flex display-commentbox">
    <div class="comment-photo">
      <% if comment.user.avatar? %>
        <%= image_tag comment.user.avatar.mini_thumb.url %>
      <% else %>
        <%= image_tag "profile-icon.png" %>
      <% end %>
    </div>
    <div class = "comment">
      <div><span class="font-weight-bold"><%= comment.user.name %></span> <%= comment.created_at.strftime('%Y/%m/%d') %></div>
      <p><%= safe_join(comment.content.split("\n"),tag(:br)) %></p>
      <div class="comment-delete">
      <% if current_user.comments.include?(comment) %>
        <%= link_to "コメントの削除", comment_path(comment), method: :delete, data:{ confirm: "コメントを削除します" } %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate comments, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>