<% provide(:title, "パスワードを変更") %>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class = "col-md-6 col-sm-12 white-box">
        <h2 class="text-center pass-change">パスワードを変更する</h2>
        <%= render 'shared/error_messages', object: @user %>
        <%= render 'shared/flash' %>
        <p class="color-orange">新しいパスワードを入力してください。</p>
        <div class = "form">
          <%= form_with(model: @user, url: password_change_path(params[:id]), local: true) do |f| %>
            <%= hidden_field_tag :email, @user.email %>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
            <%= f.submit "パスワードを変更",class: "btn btn-primary wide-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
