<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class = "col-md-6　col-sm-12">
        <%= link_to "ユーザー編集画面に戻る", edit_user_path(current_user), class: "back-link" %>
        <div class="white-box">
          <h2 class="text-center pass-change">パスワードの変更</h2>
          <p class="color-orange">パスワード再設定用メールを送信します。<br>
          メールに記載されているリンクから、パスワードの再設定を行ってください。
          </p>
          <table class="orange-table">
            <tr>
              <th class="orange-cell">登録されているメールアドレス</th>
            </tr>
            <tr>
              <td class="orange-cell"><%= current_user.email %></td>
            </tr>
          </table>
          <div class="text-center">
          <%= link_to "パスワード再設定用メールを送信する", password_changes_path(params: {id: current_user.id}),
                      method: :post, class:"btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</main>
