<div class="home-image hidden">
  <h1 class="title-logo">
    <%= image_tag 'homesketch-logo.png', alt: "HOMESKETCH" %>
  </h1>
  <p class="home-message">一生に一度の買い物を最高の買い物にする。</p>
</div>
<div class="home-main">
  <div class="container">
    <%= render 'shared/flash' %>
    <div class="row">
      <div class="col-md-12 white-box text-center whats-homesketch">
        <h2><span>HOMESKETCH</span>とは？</h2>
        <p>ほとんどのお客様にとって。家の購入は不慣れでわからないことばかりです。</p>
        <p>家を建てるには何から始めれば良いのか、どのメーカーに頼めば良いのか？</p>
        <p>そんな最初のとっかかりとなる悩みを解決したいと思いサイトを作成いたしました。</p>
        <p>家づくりの初期プランを様々なメーカーから提案してもらい</p>
        <p>お客様はその中から気に入ったプランをチョイスする。</p>
        <p>HOMESKETCHは簡易的なコンペ形式でお客様にプランを選んでいただくサービスです。</p>
      </div>
    </div>
  </div>
</div>
