<%= form_with(model: current_user.active_relationships.build, remote: true) do |f| %>
  <%= hidden_field_tag :followed_id, user.id %>
  <%= f.submit "フォローする", class: "btn btn-primary follow-btn" %>
<% end %>