<%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
            html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "フォローを解除", class: "btn btn-secondary follow-btn" %>
<% end %>