<% provide(:title, "プロフィールを編集")%>
<% @user.reload %>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class="col-md-9 col-sm-12 white-box">
        <%= render 'shared/flash' %>
        <%= render 'shared/error_messages', object: @user %>
        <%= form_with model: @user, local: true do |f| %>
          <div class="user-edit-box">
            <% if @user.avatar? %>
              <div class="edit-avatar"><%= render 'shared/avatar', avatar: @user.avatar %></div>
            <% end %>
            <div>
              <div class="edit-username"><%= @user.name %></div>
              <div class="flex">
                <%= link_to "パスワードを変更する", new_password_change_path, class: "btn gray-btn" %>
                <%= link_to "Eメールアドレスを変更する", edit_email_change_path(@user), class: "btn gray-btn to-emailchange" %>
              </div>
              <%= f.file_field :avatar %>
            </div>
          </div>
          <div class = "form">
            <div class="user-editpage-email">
              <div>メールアドレス</div>
              <p><%= @user.email %></p>
            </div>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
            <% if @user.builder? %>
              <%= f.label :website %>
              <%= f.text_field :website, placeholder: "http://example.com", class: "form-control" %>
              <%= f.label :intro, "会社概要" %>
            <% else %>
              <%= f.label :intro, "プロフィール" %>
            <% end %>
            <%= f.text_area :intro, class: "form-control" %>
            <div class="editbtn-position">
              <%= f.submit "更新する",class: "btn btn-primary edit-btn" %>
                <%= link_to "アカウントの削除", @user, method: :delete,
                                        data: { confirm: "本当に削除してもよろしいですか？" },
                                        class: "btn btn-danger edit-deletebtn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>