<% provide :title, "ユーザー登録" %>
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
        <div class="white-box">
          <h2 class="text-center">Sign up form</h2>
          <%= render 'shared/error_messages', object: @user %>
          <div class="form">
            <%= form_with model: @user, local: true do |f| %>
              <%= f.label :builder, "カスタマーかビルダーどちらか選んでください" %>
              <div class="flex builder-field">
                <div><%= f.radio_button :builder, :false %><span>家を建てたい</span><br><span>（カスタマー）</span></div>
                <div><%= f.radio_button :builder, :true %><span>家づくりを提案したい</span><br><span>（ビルダー）</span></div>
              </div>
              <%= f.label :name %>
              <%= f.text_field :name, placeholder: "フルネームまたは会社名", class: "form-control" %>
              <%= f.label :email %>
              <%= f.email_field :email, placeholder: "test@example.com", class: "form-control" %>
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: "6文字以上のパスワード", class: 'form-control' %>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, placeholder: "確認用パスワード", class: 'form-control' %>
              <%= f.submit 'Sign up', class: "btn btn-primary form-btn" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
