<% provide :title, "マイページ" %>
<main>
  <div class="container">
    <%= render 'shared/flash' %>
    <%= render 'shared/error_messages', object: @user %>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="mypage-box white-box">
          <div class="avatar-size-modify">
            <div class = "user-avatar">
              <%= render 'shared/avatar', avatar: @user.avatar %>
            </div>
          </div>
          <h2 class="user-name text-center"><%= @user.name %></h2>
          <% if current_user?(@user) %>
            <div class="link-form-user"><%= link_to "アカウント設定", edit_user_path(current_user) %></div>
          <% end %>
          <% if !(current_user?(@user)) && logged_in? %>
            <div id="follow_form<%= @user.id %>">
              <% if current_user.following?(@user) %>
                <%= render 'unfollow', user: @user %>
              <% else %>
                <%= render 'follow', user: @user %>
              <% end %>
            </div>
          <% end %>
          <% if current_user?(@user) %>
            <div class="link-form-user"><%= link_to "フォロー中:#{@user.following.size}", following_user_path(@user) %></div>
          <% end %>
          <% if @user.builder? %>
            <div class="builder-evaluate">
              <p class="text-center">評価</p>
              <div class="star-box">
                <% if @star.present? %>
                  <span class="star-number"><%= @star.average(:evaluation).round(1).to_f %></span>
                  <div class="stars"><%= render 'shared/stars', star_ave: @star.average(:evaluation).round(1).to_f %></div>
                <% else %>
                  <span class="star-number">0</span>
                  <div class="stars"><%= image_tag '0star.png' %></div>
                <% end %>
                <span><%= @star.blank? ? "まだ評価はありません" : (link_to_if logged_in?, "評価実績#{@star.size}件", reviews_path(params:{id: @user})) %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <% if @user.builder? %>
          <div class="white-box">
            <h3 class="gray-bottom-line">会社概要</h3>
            <div class="profile-box">
              <% if @user.intro.present? %>
                <div class="intro"><%= safe_join(@user.intro.split("\n"),tag(:br)) %></div>
              <% else %>
                <div class="gray-color intro">アカウント設定から会社概要を設定してください。</div>
              <% end %>
            </div>
            <div class="flex profile-box">
              <% if @user.website.present? %>
                <div class="intro">会社URL：</div>
                <div><%= link_to @user.website, @user.website %></div>
              <% end %>
            </div>
          </div>
        <% elsif @user.intro.present? %>
          <div class="white-box">
            <h3 class="gray-bottom-line">プロフィール</h3>
            <div class="intro"><%= safe_join(@user.intro.split("\n"),tag(:br)) %></div>
          </div>
        <% end %>
        <div class="white-box">
            <% if @projects.any? %>
              <h3 class="gray-bottom-line">
                <%= current_user?(@user) ? "あなた" : @user.name %><%= @user.builder? ? "が提案中のプロジェクト(#{@user.suggests.size})" : "のプロジェクト(#{@user.projects.size})" %>
              </h3>
              <%= render 'projects/posted_projects', projects: @projects %>
            <% else %>
              <p>まだ<%= @user.builder? ? "提案" : "プロジェクト" %>がありません。</p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
