<% provide(:title, @title) %>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class = "col-md-9 col-sm-12 white-box" >
        <h2 class="gray-bottom-line"><%= @title %></h2>
        <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
        <ul>
        <% @users.each do |user| %>
          <li class="flex follow-box">
            <div class="flex follow-box">
              <div class="follow-user-avatar">
                <%= render 'shared/avatar', avatar: user.avatar %>
              </div>
              <%= link_to user.name, user_path(user) %>
            </div>
            <div id="follow_form<%= user.id %>">
              <% if current_user.following?(user) %>
                <%= render 'unfollow', user: user %>
              <% else %>
                <%= render 'follow', user: user %>
              <% end %>
            </div>
          </li>
        <% end %>
        </ul>
        <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      </div>
    </div>
  </div>
</main>