<%= photo.file_field :image, name: "#{model_name}[photos_attributes][0][image]", class: "hidden-field", id: "#{model_name}_photos_attributes_0_image" %>
<%= photo.file_field :image, name: "#{model_name}[photos_attributes][1][image]", class: "hidden-field", id: "#{model_name}_photos_attributes_1_image" %>
<%= photo.file_field :image, name: "#{model_name}[photos_attributes][2][image]", class: "hidden-field", id: "#{model_name}_photos_attributes_2_image" %>
<%= photo.file_field :image, name: "#{model_name}[photos_attributes][3][image]", class: "hidden-field", id: "#{model_name}_photos_attributes_3_image" %>
<%= photo.file_field :image, name: "#{model_name}[photos_attributes][4][image]", class: "hidden-field", id: "#{model_name}_photos_attributes_4_image" %>
