<% case star_ave %>
<% when 0..0.9 %>
  <%= image_tag '0star.png' %>
<% when 1..1.9 %>
  <%= image_tag '1star.png' %>
<% when 2..2.9 %>
  <%= image_tag '2stars.png' %>
<% when 3..3.9 %>
  <%= image_tag '3stars.png' %>
<% when 4..4.9 %>
  <%= image_tag '4stars.png' %>
<% when 5 %>
  <%= image_tag '5stars.png' %>
<% end %>
