<% provide(:title, "Eメールアドレスを編集")%>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class="col-md-6 col-sm-12">
        <%= link_to "ユーザー編集画面に戻る", edit_user_path(@user), class: "back-link" %>
        <div class="white-box">
          <h2>Eメールアドレスの変更</h2>
          <%= render 'shared/flash' %>
          <%= render 'shared/error_messages', object: @user %>
          <%= form_with model: @user, url: email_change_path(@user), local: true do |f| %>
            <%= f.label "新しいメールアドレス" %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
            <%= f.submit "Eメールアドレスを更新する", placeholder: "パスワード", class: "btn btn-primary edit-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>