<ol class="projects">
  <% projects.each do |project| %>
    <li class="flex">
      <div class = "project-user-avatar">
        <%= render 'shared/avatar', avatar: project.user.avatar %>
      </div>
      <div class="wide-box">
        <div class="link-to-project gray-bottom-line hidden"><%= link_to project.name, project_path(project) %></div>
        <div class="projecter-and-posted-time">
          <div class="project-user hidden"><span class="min-media-display-non">発注者: </span><%= project.user.name %></div>
          <div class="project-posted">
            <%= "#{time_ago_in_words(project.created_at)}前" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ol>
<%= will_paginate projects, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
