<% provide :title, "プロジェクト一覧" %>
<main>
  <div class="container">
    <div class = "row white-box">
      <div class = "col-sm-12">
        <h2 class="gray-bottom-line">プロジェクト一覧</h2>
        <%= render 'posted_projects', projects: @projects %>
      </div>
    </div>
  </div>
