<% provide(:title,"案件を投稿する")%>
<main>
  <div class="container">
    <div class = "row">
      <div class="col-md-12 white-box">
        <h2 class="gray-bottom-line">プロジェクトの作成</h2>
        <%= render 'shared/error_messages', object: @project %>
        <%= form_with(model: @project, local: true) do |f| %>
          <div class="preview-field flex">
            <div id="label-field">
              <%= f.label :"photos_attributes_0_image", class: "photo-label", id: "photo-label-0" do %>
                <p>クリックして画像をアップロード(最大5枚)</p>
              <% end %>
            </div>
          </div>
          <%= f.fields_for :photos do |photo| %>
            <%= render 'shared/photo_upload', { model_name: "project", photo: photo } %>
          <% end %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "東京都世田谷区S邸, 佐藤邸...etc" %>
          <%= f.label :budget %>
          <%= f.text_field :budget, class: "form-control", placeholder: "予算", data: { autonumeric: { mDec: 0 } } %>
          <%= f.label :content %>
          <%= f.text_area :content, class: "form-control", placeholder: "大まかな家のイメージや絶対に譲れない部分など" %>
          <%= f.submit "プロジェクトを投稿する", class: "btn btn-primary center-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
