<% provide(:title,"#{@project.name}") %>
<main>
  <div class="container">
  <%= render 'shared/flash' %>
  <%= render 'shared/error_messages', object: @project %>
    <div class = "row white-box">
      <div class = "col-sm-12">
        <h2 class="gray-bottom-line"><%= @project.name %></h2>
        <div>
          <div class="flex contributer">
            <div class="project-avatar"><%= render 'shared/avatar', avatar: @project.user.avatar %></div>
            <div><%= link_to @project.user.name, user_path(@project.user), class: "project-user-link" %></div>
          </div>
          <div>
            <% if @project.photos.present? %>
              <ul class="show-photo-field">
                <% @project.photos.each do |photo| %>
                  <li class="show-photo-box"><%= image_tag photo.image.url %></li>
                <% end %>
              </ul>
            <%end %>
          </div>
          <div class="project-parts"><span class="font-weight-bold">予算: </span><%= "#{@project.budget.to_s(:delimited)}円" %></div>
          <div class="project-parts"><span class="font-weight-bold">クライアント要望詳細</span></div>
          <div class="project-document">
            <%= simple_format(@project.content) %>
          </div>
          <div class="project-btn">
            <% if current_user?(@project.user) %>
              <%= link_to "プロジェクトを削除する", @project,
                                                method: :delete,
                                                data: { confirm: "本当に削除してもよろしいですか？" },
                                                class: "btn btn-danger" %>
            <% elsif @suggest.present? %>
              <%= link_to "提案したプロジェクトにいく", project_suggest_path(@project.id, @suggest.id), class: "btn btn-warning" %>
            <% elsif current_user.builder? && !current_user?(@project.user)  %>
              <%= link_to "このプロジェクトに提案する", new_project_suggest_path(@project.id), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class = "row white-box">
      <div class = "col-sm-12">
        <% if @project.suggests.present? %>
          <div class="gray-bottom-line suggests"><%= @project.suggests.size %>件の提案</div>
          <div>
            <% @project.suggests.includes(:user).each do |suggest| %>
              <div class="flex align-items-center suggest-parts">
                <div class="suggest-avatar"><%= render 'shared/avatar', avatar: suggest.user.avatar %></div>
                <div class="suggest-parts-user"><%= suggest.user.name %></div>
                <div class="suggest-parts-title"><%= link_to suggest.title, project_suggest_path(@project, suggest) %></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>まだ提案はありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</main>
