/* ====== index ==========
  1. COMMON
    1.1 COMMON
    1.2 COMMON ITEM
    1.3 ERROR MESSAGE
  2. HEADER
  3. FORM
    3.1 COMMON FORM
    3.2 LOGIN FORM
    3.3 PASSWORD_RESET FORM
    3.4 PASSWORD_CHANGE FORM
    3.5 SIGNUP FORM
  4. USER PAGE
    4.1 USER SHOW
    4.2 USER EDIT
  5. PROJECT PAGE
    5.1 PROJECT INDEX
    5.2 PROJECT SHOW
  6. SUGGEST PAGE
  7. REVIEW INDEX
  8. HOME
==========================*/

@import "bootstrap";

/*=========================== 1. COMMON ===========================*/
/*========= 1.1 COMMON =========*/
 *{
  word-break: break-all;
  box-sizing: border-box;
}
a, a:hover{
  text-decoration: none;
  }
h2 {
  margin-bottom: 20px;
}
div{
  display: block;
}
ul {
  padding-inline-start: 0px;
}
ol {
  padding-inline-start: 25px;
}
main{
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 50px;
}
body {
  background-color: rgb(255, 248, 238);
}
li{
  list-style-type: none;
}
header {
  border-bottom: solid 3px rgb(255, 172, 103);
  a {
    color: orange;
  }
}
table {
  border-collapse:  collapse;
}
th {
  padding: 10px 20px;
}
td {
  padding: 20px 20px;
}
div.pagination {
  display: flex;
  justify-content: center;
  li + li {
    margin-left: 5px;
  }
  li:first-child {
    margin-right: 10px;
  }
  li:last-child {
    margin-left: 15px;
  }
  a {
    font-size: 18px;
  }
}
@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*========= 1.2 COMMON ITEM =========*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.flex {
  display: flex;
}
.hidden {
  overflow: hidden;
}
.white-box {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 30px;
  border: solid 0.7px rgb(226, 226, 226);
}
.white-box + .white-box {
  margin-top: 20px;
}
.gray-bottom-line {
  border-bottom: 1px solid  rgb(199, 199, 199);
  padding-bottom: 10px;
}
.insert-gray-line::after {
  content: "";
  width: 100%;
  border-bottom: solid 1px rgb(199, 199, 199);
  margin: 20px 0;
  display: block;
}
.back-link {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
}
.center-btn {
  margin: 0 auto;
  display: block;
  width: 250px;
}
.show-photo-field{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px 10px;
  background-color: rgb(240, 240, 240);
  justify-content: center;
  border-radius: 5px;
  .show-photo-box {
    width: 340px;
    height: 250px;
    padding: 8px;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/*========= 1.3 ERROR MESSAGE =========*/
#error_explanation {
  padding: 0px;
  color: red;
  border-radius: 3px;
  ul {
    color: red;
    margin: 0 0 30px 0;
    padding-left: 25px;
  }
  li{
    list-style-type: disc;
  }
}
/*========= 1.4 PHOTO UPLOADER =========*/
#label-field {
  height: 162px;
  background-color: rgb(226, 224, 224);
  min-width: 150px;
  flex: 1;
}
.photo-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.hidden-field {
  display: none;
}
.preview-field {
  display: flex;
  flex-wrap: wrap;
  .preview-box {
    height: 162px;
    width: 112px;
    margin-bottom: 10px;
    margin-right: 15px;
    .upper-box {
      height: 112px;
      width: 112px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .lower-box {
      display: flex;
      text-align: center;
      .update-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
      .delete-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}
/*=========================== 2. HEADER ===========================*/
.navbar{
  padding: 0 20px;
  height: 54px;
  background-color: #fff;
  border-bottom: 4px solid orange;
}
.navbar > .container{
  height: 100%;
}
.header-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media (min-width: 400px) {
  .headerlogo-container {
    width: 280px;
    margin-top: 19px;
    display: block;
    img {
      width: 100%;
    }
  }
}
@media (min-width: 480px) {
  .headerlogo-container {
    width: 230px;
  }
}
@media (min-width: 768px) {
  .headerlogo-container {
    width: 250px;
    margin-top: 11px;
  }
}
.header-logo{
  width: 100%;
  height: 100%;
}
.header-icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 24px;
  width: 100%;
}
.nav-item {
  display: block;
}
.nav-item + .nav-item {
  margin-left: 30px;
}
.nav::before, .nav::after{
  content:none;
}
.header-toggle-btn{
  width: 22px;
  height: 22px;
}
.nav > li > a{
  padding: 0;
  margin-top: 6px;
}
.header-space{
  height: 55px;
}
.dropdown-toggle::after{
  content: none
}
.dropdown-menu {
  top: 35px;
}
.dropdown-menu-right {
  right: -10px;
}
.toggle-link {
  color: orange;
}
.toggle-link:hover {
  color: rgb(0, 21, 90);
}
/*=========================== 3. FORM ===========================*/
/*========= 3.1 COMMON FORM =========*/
form > input:nth-last-child(2) {
  margin-bottom: 25px;
}
.form {
  align-items: center;
}
.form-control {
  margin-bottom: 10px;
  background-color: #fff;
  max-height: 250px;
  min-height: 40px;
}
.form-btn {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
.wide-btn {
  width: 100%;
}
/*========= 3.2 LOGIN FORM =========*/
.login-forget {
  margin-bottom: 20px;
}
.or {
  position: relative;
  margin: 40px 0 20px;
  p {
    color: rgb(184, 184, 184);
  }
}
.or::before{
  content: '';
  position: absolute;
  background-color: rgb(199, 199, 199);
  height: 1px;
  width: 35%;
  top: .5em;
}
.or::after{
  content: '';
  position: absolute;
  background-color:rgb(199, 199, 199);
  height: 1px;
  width: 35%;
  top: .5em;
  right: 0;
}
.test-user + .test-user {
  margin-top: 20px;
}
/*========= 3.3 PASSWORD_RESET FORM =========*/
.p-password-change {
  margin-bottom: 30px;
  margin-top: 30px;
}
/*========= 3.4 PASSWORD_CHANGE FORM =========*/
.pass-change {
  margin-bottom: 40px;
}
.color-orange {
  color: rgb(209, 119, 1);
}
.orange-table {
  width:100%;
  margin-bottom: 25px;
  th {
    background-color: orange;
  }
  td {
    font-weight: 600;
  }
}
.orange-cell {
  border: solid 1px rgb(255, 145, 0);
}
/*========= 3.5 SIGNUP FORM =========*/
.builder-field {
  justify-content: space-around;
  margin-bottom: 20px;
  input{
    margin-right:5px;
  }
}
/*========= 3.6 COMMENT FORM =========*/
.comment-form-box {
  position: relative;
  margin-top: 10px;
  padding-bottom: 40px;
  .btn {
    position: absolute;
    right: 0;
    bottom: 0px;
  }
}
/*=========================== 4. USER PAGE ===========================*/
/*========= 4.1 USER SHOW =========*/
.mypage-box {
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}
.user-name {
  font-size: 27px;
}
.user-avatar{
  position: relative;
  padding-top: 100%;
  width: 100%;
  margin-bottom: 15px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.avatar-size-modify {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.link-form-user {
  font-size: 18px;
  text-align: center;
}
.profile-box + .profile-box {
  margin-top:20px;
}
.gray-color {
  color: rgb(184, 184, 184);
}
.intro {
  margin-left: 25px;
}
.projects {
  margin-top: 15px;
  li {
    border: solid 0.7px rgb(240, 240, 240);
    border-radius: 3px;
    box-shadow: 0 0 2px;
    padding: 12px;
  }
  li + li {
    margin-top: 10px;
  }
  .link-to-project {
    font-weight: bold;
    font-size: 20px;
    max-height: 34px;
  }
  .project-user {
    max-height: 25px;
    font-size: 19px;

  }
  .project-posted {
    flex-shrink: 0;
    bottom: 12px;
    right: 12px;
    color:  rgb(139, 139, 139);
    max-height: 25px;
  }
}
.builder-evaluate {
  background-color: rgb(255, 153, 57);
  border-radius: 4px;
  padding: 5px;
  margin: 10px auto;
  max-width: 300px;
  p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    margin-bottom:5px
  }
  span {
    text-align: center;
  }
  .star-box {
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  .star-number {
    font-size: 35px;
    font-weight: bold;
  }
}
.stars {
  max-width: 145px;
  margin: 0 auto 5px;
  img {
    width: 100%;
    height: auto;
  }
}

/*========= 4.2 USER EDIT =========*/
.user-edit-box {
  display: flex;
  flex-wrap: wrap;
}
.edit-avatar {
  position: relative;
  max-width: 180px;
  width: 100%;
  flex-shrink: 0;
  height: auto;
  margin-bottom: 15px;
  margin-right: 25px;
}
.edit-avatar::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.edit-avatar > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gray-btn {
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border: solid 1px rgb(121, 121, 121);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 23px;
}
.to-emailchange {
  margin-left: 10px;
}
.user-editpage-email {
  margin-bottom: 10px;
  p {
    padding-left: 12px;
  }
}
.edit-username {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.edit-deletebtn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.follow-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.editbtn-position {
  margin-top: 30px;
  position: relative;
}
@media (min-width: 400px) {
  .edit-btn {
    margin-right: auto;
    display: block;
    padding-right: 35px;
    padding-left: 35px;
  }
}
@media (min-width: 768px) {
  .editbtn-position .btn {
    display: block;
  }
  .edit-btn {
    margin: 0 auto;
    display: block;
    padding-right: 50px;
    padding-left: 50px;
  }
}
/*========= 4.3 USER SHOW FOLLOW =========*/
.follow-user-avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 7px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.follow-box {
  font-size: 19px;
  align-items: center;
  justify-content: space-between;
}
.follow-box + .follow-box {
  border-top: 1px solid  rgb(199, 199, 199);
  padding-top: 10px;
  margin-top: 10px;
}
/*=========================== 5. PROJECT PAGE ===========================*/
/*========= 5.1 PROJECT INDEX =========*/
.project-user-avatar {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.wide-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projecter-and-posted-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .min-media-display-non {
    display: none;
  }
}
/*========= 5.2 PROJECT SHOW =========*/
.contributer {
  align-items: center;
  margin-bottom: 20px;
}
.project-avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.project-user-link {
  font-size: 25px;
}
.project-parts {
  font-size: 20px;
  font-weight: 400;
}
.project-parts + .project-parts {
  margin-top: 15px;
}
.project-document {
  margin-bottom: 25px;
}
.project-btn {
  display: flex;
  justify-content: flex-end;
  .btn {
    width: 240px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .btn-warning, .btn-primary{
    margin: 0 auto;
  }
}
.suggests {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.suggest-avatar {
  width: 37px;
  height: 37px;
  margin-right: 10px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.suggest-parts + .suggest-parts {
  margin-top: 15px;
}
.suggest-parts-user {
  font-size: 18px;
  width: 180px;
  max-height: 40px;
  line-height: 1.1;
  overflow: hidden;
  padding-right: 10px;
}
.suggest-parts-title {
  max-height: 50px;
  max-width: 820px;
  overflow: hidden;
}
/*=========================== 6. SUGGEST PAGE ===========================*/
/*========= 6.1 SUGGEST NEW =========*/
/*========= 6.2 SUGGEST SHOW =========*/
.suggest-info {
  font-size: 18px;
  margin-top: 5px;
}
.suggest-btn-box {
  justify-content: center;
  position: relative;
}
.suggest-deletebtn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.display-commentbox {
  padding: 5px;
  position: relative;
}
.comment-photo {
  margin-right: 5px;
}
.commnet {
  padding-bottom: 30px;
}
.comment-delete {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/*=========================== 7. HOME PAGE ===========================*/
.home-image {
  background: image-url("home-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center
}
.home-main {
  padding: 20px 0;
}
.home-message {
  color: rgb(212, 138, 0);
  text-shadow: 0 0 3px rgb(255, 255, 255);
}
.whats-homesketch {
  span {
    color: orange;
  }
  p {
    font-weight: bold;
  }
}
@media (min-width: 400px) {
  .home-image {
    height: 320px;
  }
  .title-logo {
    margin-top: 100px;
    width: 340px;
    margin: 0 auto 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .home-message {
    font-size: 18px;
  }
}
@media (min-width: 480px) {
  .home-image {
    height: 320px;
  }
  .title-logo {
    margin-top: 100px;
    width: 370px;
  }
  .home-message {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .home-image {
    height: 500px;
  }
  .title-logo {
    margin-top: 150px;
    width: 500px;
  }
  .home-message {
    font-size: 30px;
  }
}
@media (min-width: 1100px) {
  .home-image {
    height: 700px;
  }
  .title-logo {
    width: 600px;
    margin-top: 180px;
  }
  .home-message {
    font-size: 35px;
  }
}
/*=========================== 7. REVIEW PAGE ===========================*/
/*========= 7.1 REVIEW INDEX =========*/
.reviews {
  li {
    border: solid 0.7px rgb(240, 240, 240);
    border-radius: 3px;
    box-shadow: 0 0 2px;
    padding: 12px;
  }
  div {
    margin-bottom: 4px;
  }
  li + li {
    margin-top: 10px;
  }
  p {
    margin-bottom: 0;
    padding-left: 51px;
  }
  p + p {
    margin-top: 10px;
  }
}
.review-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.review-user-name {
  font-size: 18px;
}
/*========= 7.2 REVIEW EDIT =========*/
.review-evaluation {
  margin-bottom:8px;
}