<% provide(:title,"#{@builder.name}へのレビューを編集する") %>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class = "col-md-9 col-sm-12">
        <%= link_to "レビューに戻る", review_path(@review), class: "back-link" %>
        <div class="white-box">
          <%= render 'shared/flash' %>
          <%= render 'shared/error_messages', object: @review %>
          <h2>プロジェクト名：<%= @review.suggest.project.name %></h2>
          <h3><%= @builder.name %>に対する評価</h3>
          <%= form_with(model: @review, local: true) do |f| %>
            <div class="font-weight-bold review-evaluation">評価（5点満点）</div>
            <div class="flex builder-field">
              <% 5.times do |n| %>
                <div><%= f.radio_button :evaluation, n + 1 %><span><%= n + 1 %></span></div>
              <% end %>
            </div>
            <%= f.text_area :content, class: "form-control" %>
            <%= f.submit "ビルダーの評価を更新する", class: "btn btn-primary review-center-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
