<% provide(:title,"#{@builder.name}へのレビュー") %>
<main>
  <div class="container">
    <div class = "row">
      <div class = "col-sm-12">
      <%= link_to "ユーザーページに戻る", user_path(@builder), class: "back-link" %>
        <div class="white-box">
          <h2 class="gray-bottom-line"><%= "#{@builder.name}へのレビュー" %></h2>
          <%= will_paginate @reviews, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
          <ol class="reviews">
          <% @reviews.includes(:customer).each do |review| %>
            <li>
              <div class="flex align-items-center">
                <div class="review-avatar">
                  <% if review.customer.avatar.present? %>
                    <%= image_tag review.customer.avatar.mini_thumb.url %>
                  <% else %>
                    <%= image_tag "profile-icon.png" %>
                  <% end %>
                </div>
              <div><span class="font-weight-bold review-user-name"><%= review.customer.name %></span>　<%= "#{time_ago_in_words(review.created_at)}前" %></div>
              </div>
              <p><span class="font-weight-bold">評価：</span><%= review.evaluation %></p>
              <%= simple_format(review.content) %>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
