<% provide(:title,"#{@builder.name}へのレビューを作成する") %>
<main>
  <div class="container">
    <div class = "row justify-content-center">
      <div class = "col-sm-12 col-md-9">
        <%= link_to "提案画面に戻る", project_suggest_path(@suggest.project, @suggest), class: "back-link" %>
        <div class="white-box">
          <h2 class="gray-bottom-line">プロジェクト名：<%= @suggest.project.name %></h2>
          <%= render 'shared/flash' %>
          <%= render 'shared/error_messages', object: @review %>
          <h3><%= @builder.name %>に対する評価</h3>
          <%= form_with(model: @review, local: true) do |f| %>
            <div class="font-weight-bold review-evaluation">評価（5点満点）</div>
            <div class="flex builder-field">
              <% 5.times do |n| %>
                <div><%= f.radio_button :evaluation, n + 1 %><span><%= n + 1 %></span></div>
              <% end %>
            </div>
            <%= f.text_area :content, class: "form-control", placeholder: "ビルダーの良かった点、悪かった点は何ですか？" %>
            <%= f.hidden_field :suggest_id, value: @suggest.id %>
            <%= f.submit "ビルダーを評価する", class: "btn btn-primary center-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
