<% provide(:title,"#{@review.suggest.user.name}へのレビュー") %>
<main>
  <div class="container">
    <%= render 'shared/flash' %>
    <div class = "row justify-content-center">
      <div class = "col-md-9 col-sm-12">
        <%= link_to "提案画面に戻る", project_suggest_path(@review.suggest.project, @review.suggest), class: "back-link" %>
        <div class ="white-box">
          <h2 class="gray-bottom-line">プロジェクト名：<%= @review.suggest.project.name %></h2>
          <h3><%= @review.builder.name %>に対する評価</h3>
          <div><span class="font-weight-bold review-evaluation">評価（5点満点）:</span><%= @review.evaluation %></div>
          <div class="font-weight-bold">ビルダーへのレビュー</div>
          <div><%= simple_format(@review.content) %></div>
          <% if current_user?(@review.customer) %>
            <%= link_to "このレビューを編集する", edit_review_path(params: { review: {suggest_id: @review.suggest.id} }), class: "btn btn-warning review-center-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
