<% provide(:title, "#{@suggest.user}の提案を受け入れました")%>
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-12">
        <%= link_to "提案されたページに戻る", project_suggest_path(@suggest.project, @suggest), class: "back-link" %>
        <div class="white-box">
          <h2 class="gray-bottom-line"><%= @suggest.user.name %>の提案を受け入れました。</h2>
          <p><%= "提案者の連絡先: #{@suggest.user.email}" %></p>
          <p>大まかな計画が決まったら、次は提案者と直接連絡を取り合って細部まで計画を詰めていきましょう。</p>
          <p>提案者の連絡先はプロジェクトの提案ページからも確認することができます。</p>
        </div>
      </div>
    </div>
  </div>
</main>
