<header class="navbar fixed-top">
  <div class="container">
    <nav class="header-nav">
    <%= link_to (image_tag 'header-logo.png'), root_path, class: "headerlogo-container" %>
    <ul class="nav header-icons">
      <% if logged_in? %>
        <% unless current_user.builder? %>
          <li class="nav-item wide-window">
            <%= link_to "プロジェクトの作成", new_project_path, alt: "プロジェクトの作成", class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item wide-window">
          <%= link_to "プロジェクト一覧", projects_path, alt: "プロジェクト一覧", class: "nav-link" %>
        </li>
        <li class="nav-item wide-window">
          <%= link_to "マイページ", user_path(current_user), alt: "マイページ", class: "nav-link" %>
        </li>
        <li class="nav-item wide-window">
          <%= link_to "ログアウト", logout_path, alt: "ログアウト", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown", id="narrow-window">
          <%= link_to image_tag('menu-hamburger.png',
            class: "header-toggle-btn"),
            "#",
            class: "btn nav-link dropdown-toggle",
            id: "dropdownMenuLink",
            'data-toggle': :dropdown %>
          <ul class = "dropdown-menu dropdown-menu-right">
            <% unless current_user.builder? %>
              <%= link_to new_project_path, alt: "プロジェクトの作成" do %><li class = "dropdown-item toggle-link">プロジェクトの作成</li><% end %>
            <% end %>
            <%= link_to projects_path, alt: "プロジェクト一覧" do%><li class = "dropdown-item toggle-link">プロジェクト一覧</li><% end %>
            <%= link_to user_path(current_user), alt: "マイページ" do %><li class = "dropdown-item toggle-link">マイページ</li><% end %>
            <%= link_to logout_path, alt: "ログアウト" do %><li class = "dropdown-item toggle-link">ログアウト</li><% end %>
          </ul>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "サインイン", signup_path, alt: "サインイン", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", login_path, alt: "ログイン", class: "nav-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
